# IMPORT DATA

In [1]:
conda install mlxtend -c conda-forge

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
df = pd.read_excel("/Users/admin/UOP AMLDM/Untitled Folder/Online Retail.xlsx")

# DATA UNDERSTANDING

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [8]:
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['Description'] = df['Description'].str.strip()
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')] 
df = df[~df['InvoiceNo'].str.contains('A')] 
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [11]:
df['StockCode'].value_counts()

85123A    2271
85099B    2115
22423     2022
47566     1707
20725     1595
          ...
85115B       1
72140F       1
46776e       1
84509F       1
85060        1
Name: StockCode, Length: 4058, dtype: int64

In [12]:
df['Country'].value_counts()

United Kingdom          487619
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

# DATA PREPROCESSING

In [7]:
myshopcart = (df[df['Country'] =="United Kingdom"]
             .groupby(['InvoiceNo', 'Description'])['Quantity']
             .sum().unstack().reset_index().fillna(0)
             .set_index('InvoiceNo'))

In [8]:
myshopcart.head()

Description,*Boombox Ipod Classic,*USB Office Mirror Ball,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 HANGING EGGS HAND PAINTED,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
myshopcart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18664 entries, 536365 to 581586
Columns: 4174 entries, *Boombox Ipod Classic to wrongly sold sets
dtypes: float64(4174)
memory usage: 594.5+ MB

In [23]:
def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

myshopcart_sets = myshopcart.applymap(my_encode_units)
myshopcart_sets.drop('POSTAGE', inplace=True, axis=1)

# LEARNING MODE

In [35]:
my_frequent_itemsets = apriori(myshopcart_sets, min_support=0.03, use_colnames=True)

In [36]:
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)

In [37]:
my_rules.head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.049829,0.046935,0.030165,0.605376,12.898110,0.027826,2.415123
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.046935,0.049829,0.030165,0.642694,12.898110,0.027826,2.659266
2,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.037666,0.050043,0.030915,0.820768,16.401302,0.029030,5.300158
3,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.050043,0.037666,0.030915,0.617773,16.401302,0.029030,2.517703
4,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.051275,0.050043,0.037559,0.732497,14.637400,0.034993,3.551207
5,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER),0.050043,0.051275,0.037559,0.750535,14.637400,0.034993,3.803043
6,(JUMBO BAG RED RETROSPOT),(JUMBO BAG BAROQUE BLACK WHITE),0.103836,0.048757,0.030540,0.294118,6.032321,0.025477,1.347594
7,(JUMBO BAG BAROQUE BLACK WHITE),(JUMBO BAG RED RETROSPOT),0.048757,0.103836,0.030540,0.626374,6.032321,0.025477,2.398556
8,(JUMBO BAG RED RETROSPOT),(JUMBO BAG PINK POLKADOT),0.103836,0.062098,0.042060,0.405057,6.522847,0.035612,1.576456
9,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.062098,0.103836,0.042060,0.677308,6.522847,0.035612,2.777149
10,(JUMBO BAG RED RETROSPOT),(JUMBO SHOPPER VINTAGE RED PAISLEY),0.103836,0.060705,0.035201,0.339009,5.584527,0.028898,1.421041
11,(JUMBO SHOPPER VINTAGE RED PAISLEY),(JUMBO BAG RED RETROSPOT),0.060705,0.103836,0.035201,0.579876,5.584527,0.028898,2.133096
12,(JUMBO STORAGE BAG SUKI),(JUMBO BAG RED RETROSPOT),0.060544,0.103836,0.037398,0.617699,5.948780,0.031111,2.344132
13,(JUMBO BAG RED RETROSPOT),(JUMBO STORAGE BAG SUKI),0.103836,0.060544,0.037398,0.360165,5.948780,0.031111,1.468278
14,(LUNCH BAG RED RETROSPOT),(LUNCH BAG BLACK SKULL.),0.074582,0.065152,0.032523,0.436063,6.692997,0.027663,1.657717
15,(LUNCH BAG BLACK SKULL.),(LUNCH BAG RED RETROSPOT),0.065152,0.074582,0.032523,0.499178,6.692997,0.027663,1.847797

In [38]:
my_rules.shape

(16, 9)

# Recommendation Basket Test

In [40]:
myshopcart_sets['PINK REGENCY TEACUP AND SAUCER'].sum()

703

In [41]:
myshopcart_sets['GREEN REGENCY TEACUP AND SAUCER'].sum()

934

In [42]:
my_rules[ (my_rules['lift'] >= 6) &
       (my_rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.049829,0.046935,0.030165,0.605376,12.898110,0.027826,2.415123
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.046935,0.049829,0.030165,0.642694,12.898110,0.027826,2.659266
2,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.037666,0.050043,0.030915,0.820768,16.401302,0.029030,5.300158
3,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.050043,0.037666,0.030915,0.617773,16.401302,0.029030,2.517703
4,(ROSES REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.051275,0.050043,0.037559,0.732497,14.637400,0.034993,3.551207
5,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER),0.050043,0.051275,0.037559,0.750535,14.637400,0.034993,3.803043
7,(JUMBO BAG BAROQUE BLACK WHITE),(JUMBO BAG RED RETROSPOT),0.048757,0.103836,0.030540,0.626374,6.032321,0.025477,2.398556
8,(JUMBO BAG RED RETROSPOT),(JUMBO BAG PINK POLKADOT),0.103836,0.062098,0.042060,0.405057,6.522847,0.035612,1.576456
9,(JUMBO BAG PINK POLKADOT),(JUMBO BAG RED RETROSPOT),0.062098,0.103836,0.042060,0.677308,6.522847,0.035612,2.777149
14,(LUNCH BAG RED RETROSPOT),(LUNCH BAG BLACK SKULL.),0.074582,0.065152,0.032523,0.436063,6.692997,0.027663,1.657717
15,(LUNCH BAG BLACK SKULL.),(LUNCH BAG RED RETROSPOT),0.065152,0.074582,0.032523,0.499178,6.692997,0.027663,1.847797